{% extends 'public/layout.html' %}

{% block breadcrumb %}
    <li><a href="#">sql任务</a><span class="divider"></span></li>
    <li class="active">sql任务列表</li>
{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        {% if status == 'all' or not status %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
             <a href="{% url 'inception_workflow_list' %}?status=all">全部工单</a>
        </li>
        {% if status == 'wait' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
             <a href="{% url 'inception_workflow_list' %}?status=wait">待审核的</a>
        </li>
        {% if status == 'excute' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
             <a href="{% url 'inception_workflow_list' %}?status=excute">执行中</a>
        </li>
        {% if status == 'done' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
             <a href="{% url 'inception_workflow_list' %}?status=done">已执行完毕</a>
        </li>
        {% if status == 'stop' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
             <a href="{% url 'inception_workflow_list' %}?status=stop">人工终止流程</a>
        </li>
        {% if status == 'reject' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
             <a href="{% url 'inception_workflow_list' %}?status=reject">自动审核不通过</a>
        </li>
        {% if status == 'abort' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
             <a href="{% url 'inception_workflow_list' %}?status=abort">取消执行</a>
        </li>
    </ul>

    <div class="tile-body color transparent-black rounded-corners">
        <div class="table-responsive">
            <table  class="table table-datatable table-custom" id="basicDataTable">
                <thead>
                    <tr>
                        <th class="">工单序号</th>
                        <th class="">工单名称</th>
                        <th class="">工单申请人</th>
                        <th class="">工单状态</th>
                        <th class="">发起时间</th>
                        <th class="">目标数据库</th>
                        <th class="">操作</th>
                    </tr>

                </thead>
                <tbody>
                    {% for workflow in object_list %}
                        <tr class="gradeA">
                            <td> {{ forloop.counter }} </td>
                            <td> {{ workflow.workflow_name }} </td>
                            <td> {{ workflow.proposer }} </td>
                            <td> {{ workflow.status.status_name }} </td>
                            <td> {{ workflow.create_time|date:"Y-m-d H:i:s" }} </td>
                            <td> {{ workflow.cluster_db_name }} </td>
                            <td>
                                <a type="button" class="btn btn-success btn-sm" href="{% url 'inception_workflow_detail' %}?workflow_id={{ workflow.id }}">详情</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- tile body -->

    <div class="tile-footer text-center">

        <ul class='pagination center-block'>
            <li><a href="{% url 'inception_workflow_list' %}?page=1">首页</a></li>
            {% if page_obj.has_previous %}
            <li><a href="{% url 'inception_workflow_list' %}?page={{ page_obj.previous_page_number }}{{ search_data }}" >上一页</a></li>
            {% else %}
            <li><a>上一页</a></li>
            {% endif %}
            {% for p in page_range_obj %}
                {% if p == page_obj.number %}
                <li class='active'><a href="{% url 'inception_workflow_list' %}?page={{ p }}{{ search_data }}">{{ p }}</a></li>
                {% else %}
                <li><a href="{% url 'inception_workflow_list' %}?page={{ p }}{{ search_data }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="{% url 'inception_workflow_list' %}?page={{ page_obj.next_page_number }}{{ search_data }}">下一页</a></li>
            {% else %}
            <li><a>下一页</a></li>
            {% endif %}
            <li><a href="{% url 'inception_workflow_list' %}?page={{ page_obj.paginator.num_pages }}">末页</a></li>
        </ul>
    </div>

{% endblock %}