{% extends 'public/layout.html' %}

{% block breadcrumb %}
    <li><a href="#">sql任务</a><span class="divider"></span></li>
    <li class="active">创建sql工单</li>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row clearfix" style="position:relative">

        <form id="form-submitsql" action="{% url 'inception_workflow_create' %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <!--<input type="hidden" id="workflowid" name="workflowid"/>-->
            <div class="col-md-8 column">
                <textarea id="sql_content" name="sql_content" class="form-control" data-name="SQL内容" placeholder="请在此提交SQL，请以分号结尾。例如：use test; create table t1(id int)engine=innodb;" rows=30 required></textarea>
            </div>

            <div class="col-md-4 column" >
                <div class="form-group">
                    <input id="workflow_name" type="text" name="workflow_name" class="form-control" data-name="上线单名称" placeholder="请输入上线单名称" required>
                </div>
                <div class="form-group">
                    <select id="cluster_db_name" name="cluster_db_name" class="selectpicker show-tick form-control bs-select-hidden" data-name="要上线的目标数据库" data-placeholder="要上线的目标数据库:" required>
                        <option value="is-empty" disabled="" selected="selected">要上线的目标数据库:</option>
                        {% for db in dbs %}
                            <option value="{{ db.cluster_name }}->{{ db.db_name }}">{{ db.cluster_name }}->{{ db.db_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select id="backup" name="backup" class="selectpicker show-tick form-control bs-select-hidden" data-name="是否选择备份" data-placeholder="请选择是否要备份:" required>
                        <option value="is-empty" disabled="" selected="selected">请选择是否要备份:</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>

                <div class="form-group">
                    <select id="is_split" name="is_split" class="selectpicker show-tick form-control bs-select-hidden" data-name="请选择是否切分sql" data-placeholder="请选择是否切分sql" required>
                        <option value="is-empty" disabled="" selected="selected">请选择是否切分执行sql:</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>

                <div class="form-group">
                    <!--
                    <select id="review_man" name="review_man" class="selectpicker show-tick form-control bs-select-hidden" data-name="审核人" data-placeholder="请选择审核人:" required>
                        <option value="is-empty" disabled="" selected="selected">请选择审核人:</option>
                    </select>
                    -->
                    <select class="chosen-select chosen-transparent form-control" data-placeholder="请选择审核人" multiple="请选择审核人" name="reviewer" id="reviewer" parsley-trigger="change" parsley-required="true" parsley-error-container="#reviewer">
                        {% for dba in dbas %}
                        <option value="{{ dba.email }}">{{ dba.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4" style="position:absolute; bottom: 0; right: 0;">

                <div class="form-group " >
                    <input id="btn-autoreview" type="button" class="btn btn-info" value="SQL检测" />
                    <input id="btn-submitsql" type="button" class="btn btn-primary" value="SQL提交" />
                    <button type="reset" class="btn btn-warning">清空选项</button>
                </div>

            </div>
        </form>
        </div>

        <div id="inception-result" style="display:none;" class="row clearfix">
            <br/>
            <div id="inception-result-col" class="col-md-12">

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function(){
            $(".chosen-select").chosen({disable_search_threshold: 8});
        })

        function validate() {
            var result = true;
            var sqlContent = $("#sql_content").val();
            var clusterName = $("#cluster_db_name").val();
            if (sqlContent == null || sqlContent.trim() === "" || sqlContent == $("#sql_content").attr("placeholder")) {
                swal("sql 内容为空");
                return result = false;
            } else if (clusterName == null || clusterName == $("#cluster_db_name").attr("data-placeholder")) {
                swal("选择执行的目标库");
                return result = false;
            }
            return result;
        }

        //提交sql
        $(function(){
            $("#btn-submitsql").click(function(){
                if (validate()) {
                    var str=$("#form-submitsql").serialize()
                    $.post("{% url 'inception_workflow_create' %}", str, function(res){
                        if(res.status == 1){
                            swal(res.errmsg)
                        } else {
                            window.location.href="{% url 'inception_workflow_list' %}"
                        }
                    })
                }
            })
        })

        //测试sql
        $(function(){
            $("#btn-autoreview").click(function(){
                if (validate()) {
                    var sqlContent = $("#sql_content").val()
                    var clusterName = $("#cluster_db_name").val()
                    var split = $("#is_split").val()
                    if (validate()) {
                        $.ajax({
                            url: "{% url 'inception_workflow_create' %}",
                            type: "check",
                            data: {"sql_content": sqlContent, "cluster_db_name": clusterName, 'is_split': split},
                            success: function(res){
                                if (res.status == 1){
                                    swal(res.errmsg)
                                } else {
                                    var finalHTML = "";
                                    //直接用$.each遍历报错，需要将json对象转换成数组循环
                                    var result =eval(res.data)
                                    for (var i=0; i<result.length; i++) {
                                    //$.each(res.data, function(index, value){
                                        var sql = result[i][5]
                                        var suggest = result[i][4]
                                        var alertStyle = "alert-success";
                                        if (suggest != "None") {
                                            alertStyle = "alert-danger";
                                        }
                                        finalHTML += "<div class='alert alert-dismissable "
                                            + alertStyle + "'> <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>x</button> <table class='' width='100%' style='table-layout:fixed;'> <tr> <td width='80%' style='word-wrap:break-word;'>"
                                            + sql
                                            + "</td> <td><strong>自动审核结果：</strong>"
                                            + suggest
                                            + "</td> </tr> </table> </div>";

                                        $("#inception-result-col").html(finalHTML);
                                        $("#inception-result").show();
                                    }
                                }
                            },
                            beforeSend: function (xhr, settings) {
                                var csrftoken = getCookie('csrftoken');
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                                }
                            }
                        })
                    }
                }
            })
        })

    </script>
{% endblock %}