{% extends 'public/layout.html' %}
{% load view_extras %}
{% block breadcrunb %}
<li><a href="#">资源管理</a><span class="divider"></span></li>
<li class="active">服务器列表</li>
{% endblock %}

{% block body %}
    <caption>
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="hostname" value="{{ hostname }}" class="form-control" >
            </div>
          </div>
          <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </caption>
    <table class='table table-striped'>
        <tr>
            <th>序号</th>
            <th>主机名</th>
            <th>内网IP</th>
            <th>业务线</th>
            <th>产品线</th>
            <th>OS</th>
            <th>最后检查时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {% for server_obj in page_obj.object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ server_obj.hostname }}</td>
            <td>{{ server_obj.inner_ip }}</td>
            <!-- <td>{{ server_obj.service_id|default_if_none:"" }}</td> -->
            <!-- <td>{{ server_obj.server_purpose|default_if_none:"" }}</td> -->
            <td>{{ server_obj.service_id|get_product:product }}</td>
            <td>{{ server_obj.server_purpose|get_product:product }}</td>
            <td>{{ server_obj.os }}</td>
            <td>{{ server_obj.check_update_time }}</td>
            <td>{{ server_obj.status.name }}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        修改
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" class="modify_server_status" href="#" data='{"sid":"{{ server_obj.id }}", "hname": "{{ server_obj.hostname }}"}'>修改机器状态</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'server_modify_product' %}?id={{ server_obj.id }}&next={{ request.get_full_path|urlencode }}">修改归属信息</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor%}
    </table>

    <div class="center-block">
        <ul class='pagination center-block'>
            <li><a href="{% url 'server_list' %}?page=1">首页</a></li>
            {% if page_obj.has_previous %}
            <li><a href="{% url 'server_list' %}?page={{ page_obj.previous_page_number }}{{ search_data }}" >上一页</a></li>
            {% else %}
            <li><a>上一页</a></li>
            {% endif %}
            {% for p in page_range_obj %}
                {% if p == page_obj.number %}
                <li class='active'><a href="{% url 'server_list' %}?page={{ p }}{{ search_data }}">{{ p }}</a></li>
                {% else %}
                <li><a href="{% url 'server_list' %}?page={{ p }}{{ search_data }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="{% url 'server_list' %}?page={{ page_obj.next_page_number }}{{ search_data }}">下一页</a></li>
            {% else %}
            <li><a>下一页</a></li>
            {% endif %}
            <li><a href="{% url 'server_list' %}?page={{ page_obj.paginator.num_pages }}">末页</a></li>
        </ul>
    </div>

    <div class="modal fade" id="server_change_status_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 id="server_change_status_modal_title"></h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-xs-8" id="select_server_status">
                        <select class="chosen-select chosen-transparent form-control" id="all_server_status">
                        </select>
                    </div>
                    <button class="btn btn-primary" id="server_change_status_btn">提交</button>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function(){
            var sid
            $('.modify_server_status').click(function(){
                var data = $.parseJSON($(this).attr('data'))
                console.log(data)
                sid = data.sid
                $("#server_change_status_modal_title").html("修改主机 <b>" + data.hname + "</b> 的状态")
                $('#server_change_status_modal').modal('show')
                $.get("{% url 'server_status_modify' %}", {'sid': sid}, function(res){
                    html = "<option value=0 >请选择状态</option>";
                    $.each(res, function(index, value){
                        html += '<option value="'+ value.id +'"> '+ value.name+'</option>'
                    })
                    $("#all_server_status").html(html)
                    //$("#all_user_group_chosen").css('width', '100%')
                    $("#all_server_status").trigger("chosen:updated")
                })
            })

            $("#server_change_status_btn").click(function(){
                var ssid = $("#all_server_status").val()
                $('#server_change_status_modal').modal('hide');
                $.ajax({
                    url: "{% url 'server_status_modify' %}",
                    type: "patch",
                    data: {"sid": sid, 'ssid': ssid},
                    success: function(res){
                        if (res.status != 0){
                            swal("操作失败", res.errmsg, "error")
                        } else {
                            swal("操作成功", '', 'success')
                        }
                    },
                    beforeSend: function (xhr, settings) {
                        var csrftoken = getCookie('csrftoken');
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}